.btn {
	border-radius: 10px 10px 0px 0px;
}

#addButton {
	border-radius: 3px;
	margin: 30px;
}

.table {
	border: 1px solid #eeeeee;
}

th,th {
	width: 32%
}

td:first-child, th:first-child {
	width: 4%
}
