#homePage {
	text-align: center;
	margin-top: 100px; 
}

.statusMessageHeader {
	line-height: 300px;
	text-align: center;
}

.table {
	border: 1px solid #eeeeee;
	table-layout: fixed;
}

.form-control {
	width: 380px;
}

td:first-child, th:first-child {
	width: 4%
}

.inputInfo {
	position: absolute;
	margin-left: 440px;
	margin-top: -40px;
}

.addButton {
	width: 80px; 
	border-radius: 3px;
	margin-top: 15px;
	margin-left: 151px
}

.addMessage {
	position: absolute;
	margin-left: 280px;
	font-size: 15px;
	margin-top: -28px;
}

.progressModal {
	height: '400px'
}

.progressModalLabel {
	color: #fff;
	line-height: 400px; 
	text-align: center;
}